<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <div>
        <h3 th:if="${numJobs}" th:text="${numJobs} + ' Result(s)'"></h3>
        <div>
            <table th:each="job : ${jobs}" class="job-listing">
                <tbody>
                <tr th:each="jobPiece : ${job}">
                    <td th:text="${jobPiece.key}"></td>
                    <td th:text="${jobPiece.value}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>